<div class="footer-container" fxLayout="column">
<!--    <div class="main" fxLayout="row" fxLayoutAlign="center center">-->
<!--        <a href="http://covid-speech.web.app">home</a>-->
<!--        <a href="http://covid-speech.web.app/disclaimer">code</a>-->
<!--        <a href="http://covid-speech.web.app/about">about</a>-->
<!--        <a href="http://covid-speech.web.app/get-in-touch">contact</a>-->
<!--        <a href="http://covid-speech.web.app/disclaimer">disclaimer</a>-->
<!--    </div>-->
    <div class="bottom" fxLayout="row" fxLayoutAlign="center center">
<!--        <h5>made with <h5 class="heart">&hearts;</h5> in india</h5>-->
        <h5>made in india</h5>
    </div>
</div>
