service firebase.storage {
  match /b/{bucket}/o {
    match /AUDIO_DATA/{userId}/{allPaths=**} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
