<div class="component-container">
    <h3 class="page-title">{{'title.about' | translate}}</h3>
    <div class="content">
        <p class="no-indent" [innerHtml]="'about.para1' | translate"></p>
        <h5 class="sub-title">{{'about.subtitle.data_collection' | translate}}</h5>
        <p [innerHTML]="'about.data.para1' | translate"></p>
        <p [innerHTML]="'about.data.para2' | translate"></p>
        <h5 class="sub-title">{{'about.subtitle.modelling' | translate}}</h5>
        <p [innerHTML]="'about.modelling.para1' | translate"></p>
        <p [innerHTML]="'about.modelling.para2' | translate"></p>
        <h5 class="sub-title">{{'about.subtitle.tool' | translate}}</h5>
        <p [innerHTML]="'about.tool.para1' | translate"></p>
        <p [innerHTML]="'about.tool.para2' | translate"></p>
    </div>
</div>