<div class="component-container" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <div class="login" fxLayout="column" fxLayoutAlign="start center" fxFlex="35">
        <div class="heading" fxLayout="row" fxLayoutAlign="center center">
            <h3 class="sub-heading">login</h3>
            <h3 class="color-dark"> | coswara</h3>
        </div>
        <div fxFlex></div>
        <div class="button-container" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
            <mat-progress-spinner *ngIf="loginLoader" [diameter]="50" mode="indeterminate"></mat-progress-spinner>
            <div *ngIf="!loginLoader && false" class="button button-dark" (click)="guestLogin()" fxFlex>CONTINUE AS GUEST</div>
            <div *ngIf="!loginLoader" class="button" (click)="googleLogin()" fxFlex>SIGN IN WITH GOOGLE</div>
        </div>
    </div>
</div>