<div class="component-container">
    <h4 class="title">Leaderboard</h4>
    <div *ngIf="leaderBoardList.length == 0">
        <mat-progress-spinner [diameter]="30" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="leaderBoardList.length > 0" class="content">
        <table class="table leaderboard">
            <tr>
                <th>Name</th>
                <th>Completed</th>
            </tr>
            <tr *ngFor="let leader of leaderBoardList">
                <td fxLayout="row" fxLayoutAlign="start center">
                    <img class="small-round" [src]="leader.pURL"/>
                    {{leader.name}}
                </td>
                <td>{{leader.value}}</td>
            </tr>
        </table>
    </div>
    <h4 class="title">Leaderboard Annotate V2</h4>
    <div *ngIf="leaderBoardV2List.length == 0">
        <mat-progress-spinner [diameter]="30" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="leaderBoardV2List.length > 0" class="content">
        <table class="table leaderboard">
            <tr>
                <th>Name</th>
                <th>Completed</th>
            </tr>
            <tr *ngFor="let leader of leaderBoardV2List">
                <td fxLayout="row" fxLayoutAlign="start center" *ngIf="leader.value>0">
                    <img class="small-round" [src]="leader.pURL"/>
                    {{leader.name}}
                </td>
                <td *ngIf="leader.value>0">{{leader.value}}</td>
            </tr>
        </table>
    </div>
</div>
