<div *ngIf="!showMainLoader" class="component-container" fxLayout="column" fxLayoutAlign="start start" fxFill>
    <h4 class="page-title">{{'thanks.heading' | translate}}</h4>
    <div class="content">
        {{'thanks.message.para1' | translate}}
        <span [innerHTML]="'thanks.message.para2' | translate"></span>
    </div>
    <div class="user-id" fxLayout="column" fxLayoutAlign="center center">
        <div class="box">{{userData.uid}}</div>
        <div *ngIf="!isOkay" class="color-red small-text">There is some issue with your recordings</div>
    </div>
    <div class="thank-you-footer">
        <div *ngIf="!signOutLoader" class="button" (click)="startSession()">{{'thanks.button.start_new_session' | translate}}</div>
        <mat-progress-spinner *ngIf="signOutLoader" [diameter]="30" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="warning-box" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="material-icons">warning</mat-icon>
        {{'thanks.warning.reuse' | translate}}
    </div>
    <h4>{{'thanks.developed_by' | translate}}</h4>
    <div class="logo" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="leap-logo">
            <a href="http://leap.ee.iisc.ac.in/" target="_blank"><img src="../../assets/logo/leap.png" height="90px" width="auto" alt="leap"/></a>
        </div>
        <div class="iisc-logo">
            <a href="https://www.iisc.ac.in/" target="_blank"><img src="../../assets/logo/iisc.jpg" height="75px" width="auto" alt="iisc"/></a>
        </div>
        <div class="hinduja-logo">
            <a href="https://www.hindujahospital.com/" target="_blank"><img src="../../assets/logo/hinduja.png" height="75px" width="auto" alt="hinduja"/></a>
        </div>
        <!-- <div class="cogknit-logo">
            <a href="https://www.cogknit.com/" target="_blank"><img src="../../assets/logo/cogknit.png" height="35px" width="auto" alt="cogknit"/></a>
        </div> -->
    </div>
    <div class="feedback" fxLayout="column" fxLayoutAlign="start start">
        <h4>{{'thanks.let_us_know_comments' | translate}}</h4>
        <mat-form-field *ngIf="!showFeedbackLoader && showFeedbackBox" class="full-width" appearance="outline">
            <mat-label>{{'thanks.feedback' | translate}}</mat-label>
            <textarea [formControl]="feedbackControl" matInput rows="5"></textarea>
        </mat-form-field>
        <div *ngIf="!showFeedbackLoader && showFeedbackBox && feedbackControl.valid" class="thank-you-footer" fxLayout="row" fxLayoutAlign="end center">
            <div class="button" (click)="sendFeedback()">{{'thanks.button.send_feedback' | translate}}</div>
        </div>
        <div *ngIf="showFeedbackLoader">
            <mat-progress-spinner [diameter]="50" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="!showFeedbackBox">
            {{'thanks.feedback.complete' | translate}}
        </div>
    </div>
</div>
<div *ngIf="showMainLoader" class="component-container" fxLayout="column" fxLayoutAlign="center center" fxFill>
    <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
</div>