<div class="component-container" fxLayout="column" fxLayoutAlign="start start" fxFill>
    <h4>Thank you for your participation!</h4>
    <div class="content">
        Thank you for being a part of this!
        Please share it among your friends and relatives.
        Follow us at <a href="https://www.facebook.com/coswara.iisc">Facebook</a> and <a href="https://twitter.com/coswara_iisc">Twitter</a> to get the latest updates.
    </div>
    <div class="thank-you-footer">
        <div *ngIf="!signOutLoader" class="button" (click)="startSession()">START A NEW SESSION</div>
        <mat-progress-spinner *ngIf="signOutLoader" [diameter]="30" mode="indeterminate"></mat-progress-spinner>
    </div>
    <h4>Developed by</h4>
    <div class="logo" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div class="leap-logo">
            <a href="http://leap.ee.iisc.ac.in/" target="_blank"><img src="../../assets/logo/leap.png" height="90px" width="auto" alt="leap"/></a>
        </div>
        <div class="iisc-logo">
            <a href="https://www.iisc.ac.in/" target="_blank"><img src="../../assets/logo/iisc.jpg" height="75px" width="auto" alt="iisc"/></a>
        </div>
        <div class="cogknit-logo">
            <a href="https://www.cogknit.com/" target="_blank"><img src="../../assets/logo/cogknit.png" height="35px" width="auto" alt="cogknit"/></a>
        </div>
    </div>
    <div class="feedback" fxLayout="column" fxLayoutAlign="start start">
        <h4>Let us know your comments!</h4>
        <mat-form-field *ngIf="!showFeedbackLoader && showFeedbackBox" class="full-width" appearance="outline">
            <mat-label>Feedback</mat-label>
            <textarea [formControl]="feedbackControl" matInput rows="5"></textarea>
        </mat-form-field>
        <div *ngIf="!showFeedbackLoader && showFeedbackBox && feedbackControl.valid" class="thank-you-footer" fxLayout="row" fxLayoutAlign="end center">
            <div class="button" (click)="sendFeedback()">SEND FEEDBACK</div>
        </div>
        <div *ngIf="showFeedbackLoader">
            <mat-progress-spinner [diameter]="50" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="!showFeedbackBox">
            Thank you for your feedback!
        </div>
    </div>
</div>