<div class="component-container">
    <div *ngIf="adminLoader" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <mat-progress-spinner [diameter]="50" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="!adminLoader && isAdmin">
        <div fxLayout="row" fxLayoutAlign="start center">
            <h4 class="page-title" fxFlex>app stats</h4>
            <mat-form-field fxFlex="15" fxFlex.xs="33">
                <mat-label>Select Date</mat-label>
                <mat-select [(value)]="dateString" (selectionChange)="dateStringChange(dateString)">
                    <mat-option *ngFor="let dS of dateStringList" [value]="dS">{{dS}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="stats-container" fxLayout="row wrap">
            <div class="stats" *ngFor="let stats of statsList"
                 fxFlex fxFlex.xs="{{stats.id == 'total_visits' ? 100 : 50}}">
                <div class="box">
                    <h3 class="value">{{statsData[stats.id]}}</h3>
                    <div class="label">{{stats.name}}</div>
                </div>
            </div>
        </div>
        <br>
        <div class="stats-container">
            <h5 class="tab-sub-title"> Total Stats</h5>
            <br>
            {{getTotalStats()}}
            <table class="table totalStats">
                <tr>
                    <th>Category</th>
                    <th>Number</th>
                </tr>
                <tr *ngFor="let stats of totalStatsData | keyvalue">
                    <td fxLayout="row" fxLayoutAlign="start center">
                        {{stats.key}}
                    </td>
                    <td>{{stats.value}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="!adminLoader && !isAdmin">
        <h4 class="page-title">Oops..</h4>
        <div class="content">You don't have sufficient permissions!</div>
    </div>
</div>