<div class="component-container">
    <h3 class="page-title">{{'media.title' | translate}}</h3>
    <div class="content">
        <span [innerHtml]="'media.content' | translate"></span>
        <div class="news-section" *ngFor="let nC of newsContent">
            <h5>{{nC.lang}}</h5>
            <ul>
            <li class="news-content" *ngFor="let item of nC.items">
                <a [href]="item.link">{{item.title}}, <span class="bold-text">{{item.paper}}</span></a>
            </li>
            </ul>
        </div>
    </div>
</div>