@import "../../styles.less";

.mentors {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.people {
  padding: 10px;
  margin-bottom: 10px;
}
.mentors .people {
  margin: 0 20px 10px;
}
.people .image {
  background-size: 150px;
  border: @border_line;
  border-radius: 50%;
  height: 150px;
  margin-bottom: 10px;
  width: 150px;
}
.people .name {
  font-size: @text_normal_size;
  margin: 0!important;
}
.people .designation {
  font-size: @text_small_size;
}
.people .institution {
  font-size: @text_smaller_size;
}

@media(max-width: 768px) {
  .mentors {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}