<div class="component-container">
    <h2 class="page-title">{{'app.full_title' | translate}}</h2>
    <div class="content">
        <p [innerHtml]="'home.content' | translate"></p>
    </div>
    <div class="home-footer" fxLayout="row wrap" fxLayout.xs="column">
        <a class="button button-dark" href="https://record.coswara.iisc.ac.in/?locale={{locale}}">{{'home.button.record' | translate}}</a>
        <a class="button" [routerLink]="'/about'" queryParamsHandling="merge">{{'home.button.read' | translate }}</a>
    </div>
</div>
