<div class="component-container">
    <h2 class="title">project prana</h2>
    <p>Project Prana aims at data collection and diagnostic tools using speech and breathing sounds for healthy subjects and patients with respiratory diseases.
    </p>

    <p>Help us fight Covid '19 by donating data and sharing this with your friends and relatives.</p>
    <p>Stay Home! Stay Safe!</p>

    <div class="home-footer" fxLayout="row">
        <a class="button" href="https://project-prana-collect.web.app" target="_blank">PROCEED TO COLLECTION SITE</a>
    </div>
</div>
