@import "../../styles";

.button-container {
    margin: 5px -6px 5px;
  }
  .load-section .content { margin-left: 10px; }
  .skip-section {
    padding: 10px 0;
  }
  .skip-section .button { margin-top: 15px; }
  .tab-group {
    margin-top: 20px;
  }
  .tab-group h6 {
    margin: 0;
  }
  .tab-group, .tab-group .radio-group, .tab-group .full-width {
    width: 100%;
  }
  .tab-group .radio-group {
    font-size: @text_small_size;
    padding: 10px;
  }
  .tab-group .tab-check-box {
    margin: 5px;
  }
// .wavesurfer-region {
//     border: 1px solid #ddd !important;
//     box-sizing: border-box;
//   }
  
  
// Width variables (appears count calculates by raw css)
@width0: 2000px; // Appears 2 times


.wavesurfer-region {
	border: 1px solid #dddddd !important;
	box-sizing: border-box;
}
#waveform {
	width: @width0;
}
#spectrogram {
	margin: 10px auto;
	position: relative;
	width:@width0;
	canvas {
		left: 0;
	}
}
//   #waveform{
//     width: 2000px;
//     }
  
//   #spectrogram{
//     width:2000px;
//     margin: 10px auto;
//     position: relative;
//   }
//   #spectrogram canvas{
//     left: 0;
//   }